body {
  background-color: rgb(191, 132, 169);
  font-family: 'Franklin Gothic', Arial, sans-serif;
}

h1 {
  color: rgb(68, 26, 26);
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  text-align: center;
  margin: auto;
}

figcaption {
  font-style: italic;
  margin-bottom: 15px;
}

table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #333;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table:last-of-type {
  margin-bottom: 10px;
}

input, select {
  background-color: #bb9696;
  color: #fff;
  padding: 5px;
  border: 1px solid #471111;
  border-radius: 4px;
  font-family: 'Franklin Gothic', Arial, sans-serif;
  display: block;
  width: 95%;
  margin-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
  background-color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

label {
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

li {
  margin-bottom: 10px;
}

.centered-buttons {
  text-align: center;
}

button {
  margin: 5px;
  background-color: rgb(76, 97, 137);
  color: white;
  font-family: 'Franklin Gothic', Arial, sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 4px;
  display: inline-block;
  width: auto;
}