<footer>    
    <p>Designed by <a href="https://webpages.charlotte.edu/kkoneni/itis3135/kushalyuh.com/" target="_blank">kushalyuh</a> &copy; 2023</p>
    <a id ="validation_link_html" href="">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
    </a>

    <a id ="validation_link_css" href="">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>

    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
    
</footer>