<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/kkoneni/" target="_blank">CLT webspace</a>
        ||
        <a href="https://github.com/konenikushal" target="_blank">github</a>
        ||
        <a href="https://konenikushal.github.io/" target="_blank">github.io</a>
        ||
        <a href="https://konenikushal.github.io/itis3135/" target="_blank">github.io/itis3135/</a>
        ||
        <a href="https://www.freecodecamp.org/konenikushal" target="_blank">freecodecamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/konenikushal" target="_blank">codecademy</a>
        ||
        <a href="http://www.linkedin.com/in/konenikushal" target="_blank">linkedin</a>

    </nav>
    
    <p>Designed by <a href="kushalyuh.com" target="_blank">kushalyuh</a> &copy; 2023, Certified in <a href="https://www.freecodecamp.org/certification/konenikushal/responsive-web-design" target="_blank">RWD</a>, Certified in <a href="https://www.freecodecamp.org/certification/konenikushal/javascript-algorithms-and-data-structures" target="_blank">JSADS</a></p>
    <a id ="validation_link_html" href="">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
    </a>

    <a id ="validation_link_css" href="">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>

    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
    
</footer>