<header>
    <h1> KUSHAL KONENI'S KNIFELIKE KING CRAB || ITIS 3135</h1>
    <nav class="primary-nav">
        <a href="./">Homepage</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        <a href="forms.html">Forms</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
        ||
        <a href="firstscripts.html">First JavaScripts</a>
        ||
        <a href="byo_intro.html">BYO-INTRO PAGE</a>
        ||
        <a href="project_1.html">Client Project</a>
        ||
        <a href="calculator_try.html">Simple Calculator</a>
        ||
        <a href="calculator_fcc.html">Tutorial Calculator</a>
        ||
        <a href="arrays.html">Arrays</a>
    </nav>

    <nav class="secondary-nav">
        <a href="stuff/RWAR ⭕ .htm" target="_blank">CRAPPY Webpage</a>
        ||
        <a href="hobby" target="_blank" target="_blank">Hobby Site</a>
    </nav>
</header>