<header>
    <h1> KUSHAL KONENI'S KNIFELIKE KING CRAB || ITIS 3135</h1>
    <nav>
        <a href="./">Homepage</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        <a href="forms.html">Forms</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
        ||
        <a href="firstscripts.html">First JavaScripts</a>
    </nav>

    <nav class="secondary-nav">
        <a href="stuff/RWAR ⭕ .htm">CRAPPY Webpage</a>
    </nav>
</header>